<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="display-4">Eat Da Burger!</h1>
            </div>
        </div>
    </div>
</div>
<!--first card to show eat later-->
<div class="container main">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devoured=true}}
                        {{/unless}}
                        {{/each}}
                    </li>
                </ul>
            </div>
        </div>
        <!--to submit the burger choice-->

        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text submit" id="inputGroup-sizing-default" type="submit">Submit</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default" name="burger_name" id="devoured">
                <p>Enter a burger you would like to eat then submit</p>
            </div>
        </div>
        <!--card to devour-->
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-blockD devoured=false}}
                        {{/if}}
                        {{/each}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>