/* Below are the properties for the title. */
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: 	#355E3B;
    font-size: larger;
    margin-top: 50px;
    background-color: burlywood;
    align-items: center;
};
/* Below are the properties of the card title*/
 .card-title{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 /*Below are the properties of the devour button*/
 .change-devour {
    border-radius: 12px;
    background-color:darkseagreen;
 };
