<li>

  {{burger_name}} &nbsp;
{{#unless devoured}}
    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
      DEVOUR!
    </button>
{{/unless}}
&nbsp;
    <button class="delete-burger" data-id="{{this.id}}">Delete Order!</button>

</li>